.nav-bar{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgray;

    .nav-links{
        width: 30vw;
        display: flex;
        justify-content: space-around;
    }
}